@use "vars" as *;

@use 'mixins' as *;

main {
  min-height: 100vh;
  @include sm-and-down{
    flex-direction: column;
  }
  .card-wrapper {
    background: url("../images/bg-main-desktop.png") no-repeat left top / cover;
    width: 33.5%;
    position: relative;
    @include sm-and-down {
      width: 100%;
      background-image: url('../images/bg-main-mobile.png');
      background-size: 100% 85%;
      background-position: left top;
      margin-bottom: 2rem;

    }

  }
  .form-wrapper {
    padding-left: 19.5rem;
    flex: 1;
    @include sm-and-down {
      padding: 0;
      width: 100%;
      align-items: start;
    }
  }
}
